# dependencies
node_modules/
bower_components/
public/
package-lock.json

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# compiled output
dist/
tmp/
out-tsc/
outputs
